html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
}
body {
  background-color: #040714;
  color: #f7f7f7;
  margin: 0;
  padding: 0;
  font-family: Avenir-Roman, sans-serif;
}
a {
  text-decoration: none;
  color: #f7f7f7;
}
@media screen and (min-width:768px) {
  body{
    font-size: 1rem;
}
}
@media screen and (min-width:768px) {
  body{
    font-size: 0.9375rem;
}
}
@media screen and (min-width:768px) {
  body{
    font-size: 0.875rem;
}
}